*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: #e9e9e3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #3f763b;
    font-size: 1rem;
}

a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: rgba(233, 233, 227, 0.2);
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo{
    font-size: 30px;
    font-weight: bold;
    color: #3f763b;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #3f763b;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Home Page*/
.main-home{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /*border-radius: 0.5rem;*/
    -ms-overflow-style: none; 
	scrollbar-width: none; 
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.home-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    color: cornflowerblue;
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align:justify;
    line-height: 20px;
    color:#3f763b;
    margin: 10px;
    
}
/*end of Home Page*/

/*dropdown menu*/ 
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 200px;
    background: rgba(233, 233, 227, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9999;
}

.dropdown_menu.open{
    height: 195px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*end of dropdown menu*/

/*Ceramics Page*/ 
  
.gallery-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    color: cornflowerblue;
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gallery-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.gallery-row{
    display: flex;
    flex-direction: column;
    width: 32.5%; 
}

.gallery-row img{
    width: 100%;
    padding-bottom: 6px;
}
/*end of Ceramics Page*/

/*Care Page*/
.care-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    margin: 20px;
}

.care-row{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.care-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    color: cornflowerblue;
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
}

.care-info{
    text-align: justify;
    text-indent: 10px;
    line-height: 20px;
    color:#3f763b;
    margin: 10px;
    padding: 10px;
}

.care-row img{
    width: 100%;
}
/*end of Care Page*/

/*About Page*/
.about-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.about-row{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-title{
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    color: cornflowerblue;
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
}

.about-info{
    text-align: justify;
    text-indent: 10px;
    line-height: 20px;
    color:#3f763b;
    margin: 10px;
    padding: 10px;
}

.about-row img{
    margin: 10px;
    width: 100%;
}
/*end of About Page*/

/*Contact Page - contact form*/
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title {
    font-family: 'Brush Script MT', cursive;
    font-weight: 500;
    color:cornflowerblue;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #3f763b;
    border-radius: 10px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #3f763b;
}

.contact-inputs::placeholder{
    color: #e9e9e3;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 1rem;
    color: #3f763b;
    gap: 10px;
    border: none;
    border-radius: 10px;
}

.contact-left button:hover{
    color: cornflowerblue;
    text-decoration: underline;
}

.contact-right img{
    width: 500px;
    height: 500px;
}
/*end of contact form*/

/*footer*/
footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(233, 233, 227, 0.2);
    color: #3f763b;
    font-size: 1rem;
    padding: 1rem;
}

/*responsive design*/
@media(max-width: 992px){
    .navbar .links{
        display: none;
    }
    
    .navbar .toggle_btn{
        display: block;
    }
    
    .dropdown_menu {
        display: block;
    }

    .contact-inputs{
        width: 80vw;
    }
    
    .contact-right{
        display: none;
    }
}

    @media(max-width: 750px){

    #row1 {
        width: 100vw;
    }

    #row2{
        width: 100vw
    }
    
    #row3{
        width: 100vw
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset; 
    }
    
    .contact-inputs{
        width: 80vw;
    }

    .contact-right{
        display: none;
    }
    
    #row1 {
        width: 100vw;
    }

    #row2{
        width: 100vw
    }
    
    #row3{
        width: 100vw
    }
}





